@CHARSET "UTF-8";
.page ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: right;
}
.page li{
	text-align:center;
	width:35px;
	float: left;
	display:block;
}
#pageNumBox{
	float: left;
}
#search{
	float: right;
}
#selectSort{
	width: 150px;
	float: right;
}
#profit{
	width: 150px;
	float: right;
}
#branchPage{
	float: left;	
}
