<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ActivityrecommendMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Activityrecommend" >
    <id column="activityId" property="activityid" jdbcType="INTEGER" />
    <id column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="websiteType" property="websitetype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    activityId, branchId, websiteType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xiaohe.bean.ActivityrecommendKey" >
    select 
    <include refid="Base_Column_List" />
    from activityrecommend
    where activityId = #{activityid,jdbcType=INTEGER}
      and branchId = #{branchid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xiaohe.bean.ActivityrecommendKey" >
    delete from activityrecommend
    where activityId = #{activityid,jdbcType=INTEGER}
      and branchId = #{branchid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Activityrecommend" >
    insert into activityrecommend (activityId, branchId, websiteType
      )
    values (#{activityid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{websitetype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Activityrecommend" >
    insert into activityrecommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        activityId,
      </if>
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="websitetype != null" >
        websiteType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="websitetype != null" >
        #{websitetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Activityrecommend" >
    update activityrecommend
    <set >
      <if test="websitetype != null" >
        websiteType = #{websitetype,jdbcType=VARCHAR},
      </if>
    </set>
    where activityId = #{activityid,jdbcType=INTEGER}
      and branchId = #{branchid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Activityrecommend" >
    update activityrecommend
    set websiteType = #{websitetype,jdbcType=VARCHAR}
    where activityId = #{activityid,jdbcType=INTEGER}
      and branchId = #{branchid,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义sql -->
  <select id="branchActRec" parameterType="java.lang.Integer" resultType="com.xiaohe.bean.ActivityrecommendCustom">
  SELECT c.*,a.*,c.activityName,c.registeryfee from activityrecommend a,employee e,branch b,activity c
	where e.employeeId = b.employeeId
	and b.branchId = a.branchId
	and a.activityId = c.activityId
	and a.websiteType = '分店官网'
	and e.employeeId = #{employeeid,jdbcType=INTEGER}
  </select>
  
  <select id="deleteByPrimary" parameterType="com.xiaohe.bean.ActivityrecommendCustom">
   delete from activityrecommend
    where activityId = #{activityid,jdbcType=INTEGER}
      and branchId = #{branchid,jdbcType=INTEGER}
      </select>
      
    <select id="selectByPrimary" parameterType="com.xiaohe.bean.ActivityrecommendCustom" resultType="com.xiaohe.bean.ActivityrecommendCustom">
   select * from activityrecommend
    where activityId = #{activityid,jdbcType=INTEGER}
     and branchId = #{branchid,jdbcType=INTEGER}
      </select>  
      
      <insert id="insertAct" parameterType="com.xiaohe.bean.ActivityrecommendCustom" >
    insert into activityrecommend (activityId, websiteType, branchId
      )
    values (#{activityid,jdbcType=INTEGER}, #{websitetype,jdbcType=VARCHAR}, #{branchid,jdbcType=INTEGER}
      )
  </insert> 
  
  
  <select id="countActRec" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  select count(*) from employee e,branch b,activityrecommend a
	where e.employeeId = b.employeeId
	and b.branchId = a.branchId
	and e.employeeId = #{employeeid,jdbcType=INTEGER}
  </select>
      
      
      
      
</mapper>