<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Activity" >
    <id column="activityId" property="activityid" jdbcType="INTEGER" />
    <result column="activityName" property="activityname" jdbcType="VARCHAR" />
    <result column="activityTypeID" property="activitytypeid" jdbcType="INTEGER" />
    <result column="onLine" property="online" jdbcType="BIT" />
    <result column="activityPicture" property="activitypicture" jdbcType="VARCHAR" />
    <result column="activityStatus" property="activitystatus" jdbcType="VARCHAR" />
    <result column="activityDate" property="activitydate" jdbcType="DATE" />
    <result column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="registeryFee" property="registeryfee" jdbcType="DECIMAL" />
    <result column="activityPrice" property="activityprice" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaohe.bean.Activity" extends="BaseResultMap" >
    <result column="activityDetails" property="activitydetails" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    activityId, activityName, activityTypeID, onLine, activityPicture, activityStatus, 
    activityDate, branchId, registeryFee, activityPrice
  </sql>
  <sql id="Blob_Column_List" >
    activityDetails
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where activityId = #{activityid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where activityId = #{activityid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Activity" >
    insert into activity (activityId, activityName, activityTypeID, 
      onLine, activityPicture, activityStatus, 
      activityDate, branchId, registeryFee, 
      activityPrice, activityDetails)
    values (#{activityid,jdbcType=INTEGER}, #{activityname,jdbcType=VARCHAR}, #{activitytypeid,jdbcType=INTEGER}, 
      #{online,jdbcType=BIT}, #{activitypicture,jdbcType=VARCHAR}, #{activitystatus,jdbcType=VARCHAR}, 
      #{activitydate,jdbcType=DATE}, #{branchid,jdbcType=INTEGER}, #{registeryfee,jdbcType=DECIMAL}, 
      #{activityprice,jdbcType=DECIMAL}, #{activitydetails,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        activityId,
      </if>
      <if test="activityname != null" >
        activityName,
      </if>
      <if test="activitytypeid != null" >
        activityTypeID,
      </if>
      <if test="online != null" >
        onLine,
      </if>
      <if test="activitypicture != null" >
        activityPicture,
      </if>
      <if test="activitystatus != null" >
        activityStatus,
      </if>
      <if test="activitydate != null" >
        activityDate,
      </if>
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="registeryfee != null" >
        registeryFee,
      </if>
      <if test="activityprice != null" >
        activityPrice,
      </if>
      <if test="activitydetails != null" >
        activityDetails,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="activityname != null" >
        #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activitytypeid != null" >
        #{activitytypeid,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=BIT},
      </if>
      <if test="activitypicture != null" >
        #{activitypicture,jdbcType=VARCHAR},
      </if>
      <if test="activitystatus != null" >
        #{activitystatus,jdbcType=VARCHAR},
      </if>
      <if test="activitydate != null" >
        #{activitydate,jdbcType=DATE},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="registeryfee != null" >
        #{registeryfee,jdbcType=DECIMAL},
      </if>
      <if test="activityprice != null" >
        #{activityprice,jdbcType=DECIMAL},
      </if>
      <if test="activitydetails != null" >
        #{activitydetails,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Activity" >
    update activity
    <set >
      <if test="activityname != null" >
        activityName = #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activitytypeid != null" >
        activityTypeID = #{activitytypeid,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        onLine = #{online,jdbcType=BIT},
      </if>
      <if test="activitypicture != null" >
        activityPicture = #{activitypicture,jdbcType=VARCHAR},
      </if>
      <if test="activitystatus != null" >
        activityStatus = #{activitystatus,jdbcType=VARCHAR},
      </if>
      <if test="activitydate != null" >
        activityDate = #{activitydate,jdbcType=DATE},
      </if>
      <if test="branchid != null" >
        branchId = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="registeryfee != null" >
        registeryFee = #{registeryfee,jdbcType=DECIMAL},
      </if>
      <if test="activityprice != null" >
        activityPrice = #{activityprice,jdbcType=DECIMAL},
      </if>
      <if test="activitydetails != null" >
        activityDetails = #{activitydetails,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where activityId = #{activityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaohe.bean.Activity" >
    update activity
    set activityName = #{activityname,jdbcType=VARCHAR},
      activityTypeID = #{activitytypeid,jdbcType=INTEGER},
      onLine = #{online,jdbcType=BIT},
      activityPicture = #{activitypicture,jdbcType=VARCHAR},
      activityStatus = #{activitystatus,jdbcType=VARCHAR},
      activityDate = #{activitydate,jdbcType=DATE},
      branchId = #{branchid,jdbcType=INTEGER},
      registeryFee = #{registeryfee,jdbcType=DECIMAL},
      activityPrice = #{activityprice,jdbcType=DECIMAL},
      activityDetails = #{activitydetails,jdbcType=LONGVARCHAR}
    where activityId = #{activityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Activity" >
    update activity
    set activityName = #{activityname,jdbcType=VARCHAR},
      activityTypeID = #{activitytypeid,jdbcType=INTEGER},
      onLine = #{online,jdbcType=BIT},
      activityPicture = #{activitypicture,jdbcType=VARCHAR},
      activityStatus = #{activitystatus,jdbcType=VARCHAR},
      activityDate = #{activitydate,jdbcType=DATE},
      branchId = #{branchid,jdbcType=INTEGER},
      registeryFee = #{registeryfee,jdbcType=DECIMAL},
      activityPrice = #{activityprice,jdbcType=DECIMAL}
    where activityId = #{activityid,jdbcType=INTEGER}
  </update>
  
  
  <sql id="contidion">
      <if test="activityid != null" >
        AND activityId = #{activityid,jdbcType=INTEGER}
      </if>
      <if test="activitytypeid != null" >
        AND activityTypeID = #{activitytypeid,jdbcType=INTEGER}
      </if>
      <if test="online != null" >
        AND onLine = #{online,jdbcType=BIT}
      </if>
      <if test="activitypicture != null" >
        AND activityPicture = #{activitypicture,jdbcType=VARCHAR}
      </if>
      <if test="activitystatus != null" >
        AND activityStatus = #{activitystatus,jdbcType=VARCHAR}
      </if>
      <if test="activitydate != null" >
        AND activityDate = #{activitydate,jdbcType=DATE}
      </if>
      <if test="branchid != null" >
        AND branchId = #{branchid,jdbcType=INTEGER}
      </if>
      <if test="registeryfee != null" >
        AND registeryFee = #{registeryfee,jdbcType=DECIMAL}
      </if>
      <if test="activityprice != null" >
        AND activityPrice = #{activityprice,jdbcType=DECIMAL}
      </if>
      <if test="activitydetails != null" >
        AND activityDetails = #{activitydetails,jdbcType=LONGVARCHAR}
      </if>
      <if test="activityname != null" >
        AND activityName LIKE '%${activityname}%'
      </if>
  </sql>
  
  <select id="selectActivitiesByCondition" parameterType="activityCustom" resultType="activityCustom">
	SELECT * FROM activity
	<where>
		<include refid="contidion"/>
	</where>
	ORDER BY activityDate DESC
	<if test="begin != null">
        <if test="total != null">
        	 LIMIT #{begin} , #{total};
        </if>
      </if>  
  </select>
  
  <select id="selectActivityrecommendByType" parameterType="String" resultType="ActivityCustom">
  	SELECT a.* ,ac.websiteType FROM activityrecommend ac , activity a  WHERE websiteType = #{id} 
  		AND a.activityId = ac.activityId
  </select>
  
  
  
  
  
  
  
</mapper>