<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ActivityreportMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Activityreport" >
    <id column="ActivityReporId" property="activityreporid" jdbcType="INTEGER" />
    <result column="activityId" property="activityid" jdbcType="INTEGER" />
    <result column="activityTypeID" property="activitytypeid" jdbcType="INTEGER" />
    <result column="countActivity" property="countactivity" jdbcType="INTEGER" />
    <result column="onLine" property="online" jdbcType="BIT" />
    <result column="AveragePeople" property="averagepeople" jdbcType="INTEGER" />
    <result column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="DuringTime" property="duringtime" jdbcType="TIMESTAMP" />
    <result column="totalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="totalExpenditure" property="totalexpenditure" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ActivityReporId, activityId, activityTypeID, countActivity, onLine, AveragePeople, 
    branchId, DuringTime, totalPrice, totalExpenditure
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activityreport
    where ActivityReporId = #{activityreporid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activityreport
    where ActivityReporId = #{activityreporid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Activityreport" >
    insert into activityreport (ActivityReporId, activityId, activityTypeID, 
      countActivity, onLine, AveragePeople, 
      branchId, DuringTime, totalPrice, 
      totalExpenditure)
    values (#{activityreporid,jdbcType=INTEGER}, #{activityid,jdbcType=INTEGER}, #{activitytypeid,jdbcType=INTEGER}, 
      #{countactivity,jdbcType=INTEGER}, #{online,jdbcType=BIT}, #{averagepeople,jdbcType=INTEGER}, 
      #{branchid,jdbcType=INTEGER}, #{duringtime,jdbcType=TIMESTAMP}, #{totalprice,jdbcType=DECIMAL}, 
      #{totalexpenditure,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Activityreport" >
    insert into activityreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityreporid != null" >
        ActivityReporId,
      </if>
      <if test="activityid != null" >
        activityId,
      </if>
      <if test="activitytypeid != null" >
        activityTypeID,
      </if>
      <if test="countactivity != null" >
        countActivity,
      </if>
      <if test="online != null" >
        onLine,
      </if>
      <if test="averagepeople != null" >
        AveragePeople,
      </if>
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="duringtime != null" >
        DuringTime,
      </if>
      <if test="totalprice != null" >
        totalPrice,
      </if>
      <if test="totalexpenditure != null" >
        totalExpenditure,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityreporid != null" >
        #{activityreporid,jdbcType=INTEGER},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="activitytypeid != null" >
        #{activitytypeid,jdbcType=INTEGER},
      </if>
      <if test="countactivity != null" >
        #{countactivity,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=BIT},
      </if>
      <if test="averagepeople != null" >
        #{averagepeople,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="duringtime != null" >
        #{duringtime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="totalexpenditure != null" >
        #{totalexpenditure,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Activityreport" >
    update activityreport
    <set >
      <if test="activityid != null" >
        activityId = #{activityid,jdbcType=INTEGER},
      </if>
      <if test="activitytypeid != null" >
        activityTypeID = #{activitytypeid,jdbcType=INTEGER},
      </if>
      <if test="countactivity != null" >
        countActivity = #{countactivity,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        onLine = #{online,jdbcType=BIT},
      </if>
      <if test="averagepeople != null" >
        AveragePeople = #{averagepeople,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchId = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="duringtime != null" >
        DuringTime = #{duringtime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalprice != null" >
        totalPrice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="totalexpenditure != null" >
        totalExpenditure = #{totalexpenditure,jdbcType=DECIMAL},
      </if>
    </set>
    where ActivityReporId = #{activityreporid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Activityreport" >
    update activityreport
    set activityId = #{activityid,jdbcType=INTEGER},
      activityTypeID = #{activitytypeid,jdbcType=INTEGER},
      countActivity = #{countactivity,jdbcType=INTEGER},
      onLine = #{online,jdbcType=BIT},
      AveragePeople = #{averagepeople,jdbcType=INTEGER},
      branchId = #{branchid,jdbcType=INTEGER},
      DuringTime = #{duringtime,jdbcType=TIMESTAMP},
      totalPrice = #{totalprice,jdbcType=DECIMAL},
      totalExpenditure = #{totalexpenditure,jdbcType=DECIMAL}
    where ActivityReporId = #{activityreporid,jdbcType=INTEGER}
  </update>
  
    <!-- 自定义sql -->
  <select id="activityCondition" parameterType="com.xiaohe.bean.ActivityCustom" resultType="com.xiaohe.bean.ActivityCustom">
  select count(a.activityId) countReg,SUM(b.totalPrice) totalReg,SUM(b.totalExpenditure) totalExpend,c.activityname activityname
	from activityreport b,activityregistery a,activity c
	where a.activityId = b.activityId
	and a.activityId = c.activityId
	and a.activityId = #{activityid,jdbcType=INTEGER}
  </select>
</mapper>