<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Area" >
    <id column="areaId" property="areaid" jdbcType="INTEGER" />
    <result column="areaName" property="areaname" jdbcType="VARCHAR" />
    <result column="areaAddress" property="areaaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    areaId, areaName, areaAddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where areaId = #{areaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where areaId = #{areaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Area" >
    insert into area (areaId, areaName, areaAddress
      )
    values (#{areaid,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR}, #{areaaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaid != null" >
        areaId,
      </if>
      <if test="areaname != null" >
        areaName,
      </if>
      <if test="areaaddress != null" >
        areaAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null" >
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areaaddress != null" >
        #{areaaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Area" >
    update area
    <set >
      <if test="areaname != null" >
        areaName = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areaaddress != null" >
        areaAddress = #{areaaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where areaId = #{areaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Area" >
    update area
    set areaName = #{areaname,jdbcType=VARCHAR},
      areaAddress = #{areaaddress,jdbcType=VARCHAR}
    where areaId = #{areaid,jdbcType=INTEGER}
  </update>
  
  <select id="selectAreasByCondition" parameterType="areaCustom" resultType="areaCustom">
  	SELECT * FROM area
  	<where>
  	<if test="areaid != null" >
        AND areaId = #{areaid,jdbcType=INTEGER}
      </if>
  		<if test="areaname != null" >
        AND areaName = #{areaname,jdbcType=VARCHAR}
      </if>
      <if test="areaaddress != null" >
        AND areaAddress = #{areaaddress,jdbcType=VARCHAR}
      </if>
  	</where>
  
  
  
  </select>
  
  
</mapper>