<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.BranchMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Branch" >
    <id column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="branchName" property="branchname" jdbcType="VARCHAR" />
    <result column="areaId" property="areaid" jdbcType="INTEGER" />
    <result column="employeeId" property="employeeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    branchId, branchName, areaId, employeeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from branch
    where branchId = #{branchid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from branch
    where branchId = #{branchid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Branch" >
    insert into branch (branchId, branchName, areaId, 
      employeeId)
    values (#{branchid,jdbcType=INTEGER}, #{branchname,jdbcType=VARCHAR}, #{areaid,jdbcType=INTEGER}, 
      #{employeeid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Branch" >
    insert into branch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="branchname != null" >
        branchName,
      </if>
      <if test="areaid != null" >
        areaId,
      </if>
      <if test="employeeid != null" >
        employeeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="branchname != null" >
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="employeeid != null" >
        #{employeeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Branch" >
    update branch
    <set >
      <if test="branchname != null" >
        branchName = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="employeeid != null" >
        employeeId = #{employeeid,jdbcType=INTEGER},
      </if>
    </set>
    where branchId = #{branchid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Branch" >
    update branch
    set branchName = #{branchname,jdbcType=VARCHAR},
      areaId = #{areaid,jdbcType=INTEGER},
      employeeId = #{employeeid,jdbcType=INTEGER}
    where branchId = #{branchid,jdbcType=INTEGER}
  </update>
  
  
  <!-- 自定义sql -->
  
    <select id="oneBranch" parameterType="java.lang.Integer" resultType="com.xiaohe.bean.Branch">
  select * from branch where employeeid = #{employeeid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultType="branchCustom">
  	SELECT b.* , e.employeeName FROM branch b, employee e WHERE e.employeeId = b.employeeId
  </select>
  
  <select id="selectAllBranchByCondition" parameterType="branchCustom" resultType="branchCustom">
  
	SELECT b.* , e.employeeName,a.areaName,a.areaAddress ,(SUM(t.totalPrice) - SUM(t.totalExpenditure)) profit
	FROM `branch` b , employee e , area a , totalreport t
	WHERE  e.employeeId = b.employeeId AND a.areaId = b.areaId AND t.branchId = b.branchId
	
	<if test="search != null">
	  AND (b.branchName LIKE '%${search}%' OR e.employeeName LIKE '%${search}%' OR a.areaName LIKE '%${search}%' OR a.areaAddress LIKE '%${search}%')
	</if> 
	GROUP BY branchId 
  		<if test="sort != null" >
		    ORDER BY #{sort} DESC  
		</if>
	   	<if test="begin != null" >
		  <if test="pageNum != null" >
		      LIMIT  #{begin} , #{pageNum};
		  </if>
	  	</if>
  </select>
  
  <select id="selectAllBranchSumByCondition" parameterType="branchCustom" resultType="Integer">
	  
	SELECT COUNT(*)
	FROM `branch` b , employee e , area a
	WHERE  e.employeeId = b.employeeId AND a.areaId = b.areaId 
		
	<if test="search != null">
	  AND (b.branchName LIKE '%${search}%' OR e.employeeName LIKE '%${search}%' OR a.areaName LIKE '%${search}%' OR a.areaAddress LIKE '%${search}%')
	</if> 
	
  </select>
  
    <select id="selectBranchInfoById" parameterType="Integer" resultType="branchCustom">
  	
		  SELECT b.* , e.employeeName,a.areaName,a.areaAddress 
			,COUNT(*) userNum ,(SELECT COUNT(*) FROM employee yee , branch bh WHERE yee.areaId = bh.areaId AND bh.branchId = #{id}) employeeNum
			FROM `branch` b , employee e , area a ,`user` u
			WHERE b.branchId = #{id}
			AND e.employeeId = b.employeeId AND a.areaId = b.areaId 
			AND u.areaId = b.areaId
  </select>
  
  
  
</mapper>