<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.CeoMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Ceo" >
    <id column="ceoId" property="ceoid" jdbcType="INTEGER" />
    <result column="authorityId" property="authorityid" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ceoId, authorityId, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ceo
    where ceoId = #{ceoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ceo
    where ceoId = #{ceoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Ceo" >
    insert into ceo (ceoId, authorityId, password
      )
    values (#{ceoid,jdbcType=INTEGER}, #{authorityid,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Ceo" >
    insert into ceo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ceoid != null" >
        ceoId,
      </if>
      <if test="authorityid != null" >
        authorityId,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ceoid != null" >
        #{ceoid,jdbcType=INTEGER},
      </if>
      <if test="authorityid != null" >
        #{authorityid,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Ceo" >
    update ceo
    <set >
      <if test="authorityid != null" >
        authorityId = #{authorityid,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ceoId = #{ceoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Ceo" >
    update ceo
    set authorityId = #{authorityid,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where ceoId = #{ceoid,jdbcType=INTEGER}
  </update>
</mapper>