<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.EvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Evaluation" >
    <id column="evaluationid" property="evaluationid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <result column="evaluationLeval" property="evaluationleval" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="commentDate" property="commentdate" jdbcType="DATE" />
    <result column="taste" property="taste" jdbcType="VARCHAR" />
    <result column="colour" property="colour" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaohe.bean.Evaluation" extends="BaseResultMap" >
    <result column="evaluationContent" property="evaluationcontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    evaluationid, userId, productId, evaluationLeval, picture, video, commentDate, taste, 
    colour, size
  </sql>
  <sql id="Blob_Column_List" >
    evaluationContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluation
    where evaluationid = #{evaluationid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluation
    where evaluationid = #{evaluationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Evaluation" >
    insert into evaluation (evaluationid, userId, productId, 
      evaluationLeval, picture, video, 
      commentDate, taste, colour, 
      size, evaluationContent)
    values (#{evaluationid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{evaluationleval,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{commentdate,jdbcType=DATE}, #{taste,jdbcType=VARCHAR}, #{colour,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{evaluationcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Evaluation" >
    insert into evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluationid != null" >
        evaluationid,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="evaluationleval != null" >
        evaluationLeval,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="commentdate != null" >
        commentDate,
      </if>
      <if test="taste != null" >
        taste,
      </if>
      <if test="colour != null" >
        colour,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="evaluationcontent != null" >
        evaluationContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluationid != null" >
        #{evaluationid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="evaluationleval != null" >
        #{evaluationleval,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="commentdate != null" >
        #{commentdate,jdbcType=DATE},
      </if>
      <if test="taste != null" >
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="colour != null" >
        #{colour,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="evaluationcontent != null" >
        #{evaluationcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Evaluation" >
    update evaluation
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="evaluationleval != null" >
        evaluationLeval = #{evaluationleval,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="commentdate != null" >
        commentDate = #{commentdate,jdbcType=DATE},
      </if>
      <if test="taste != null" >
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="colour != null" >
        colour = #{colour,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="evaluationcontent != null" >
        evaluationContent = #{evaluationcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where evaluationid = #{evaluationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaohe.bean.Evaluation" >
    update evaluation
    set userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      evaluationLeval = #{evaluationleval,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      commentDate = #{commentdate,jdbcType=DATE},
      taste = #{taste,jdbcType=VARCHAR},
      colour = #{colour,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      evaluationContent = #{evaluationcontent,jdbcType=LONGVARCHAR}
    where evaluationid = #{evaluationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Evaluation" >
    update evaluation
    set userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      evaluationLeval = #{evaluationleval,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      commentDate = #{commentdate,jdbcType=DATE},
      taste = #{taste,jdbcType=VARCHAR},
      colour = #{colour,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR}
    where evaluationid = #{evaluationid,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectEvaluationsByProdutId" parameterType="EvaluationCustom" resultType="EvaluationCustom">
  
  	SELECT e.*,u.userName,u.avatar FROM evaluation e, user u 
  	WHERE e.productId = #{productid} AND u.userId = e.userId ORDER 
  	BY commentDate DESC
  	<if test="begin != null">
			<if test="pageNum != null">
				LIMIT #{begin} , #{pageNum};
			</if>
	</if>
  
  
  </select>
  
  <select id="selectEvaluationLevalSum" parameterType="Integer" resultType="EvaluationCustom">
  	SELECT evaluationLeval ,COUNT(*) evaluationLevalSum FROM evaluation 
  	WHERE productId = #{id} GROUP BY evaluationLeval 
  </select>
  
  <select id="selectEvaluationSum" parameterType="Integer" resultType="Integer">
  	SELECT COUNT(*) sum FROM evaluation WHERE productId = #{id}
  </select>
  
  
  
</mapper>