<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ProductrecommendMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Productrecommend" >
    <id column="productRecommendId" property="productrecommendid" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <result column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="productShow" property="productshow" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    productRecommendId, productId, branchId, type, productShow
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productrecommend
    where productRecommendId = #{productrecommendid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productrecommend
    where productRecommendId = #{productrecommendid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Productrecommend" >
    insert into productrecommend (productRecommendId, productId, branchId, 
      type, productShow)
    values (#{productrecommendid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{productshow,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Productrecommend" >
    insert into productrecommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productrecommendid != null" >
        productRecommendId,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productshow != null" >
        productShow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productrecommendid != null" >
        #{productrecommendid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="productshow != null" >
        #{productshow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Productrecommend" >
    update productrecommend
    <set >
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchId = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="productshow != null" >
        productShow = #{productshow,jdbcType=BIT},
      </if>
    </set>
    where productRecommendId = #{productrecommendid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Productrecommend" >
    update productrecommend
    set productId = #{productid,jdbcType=INTEGER},
      branchId = #{branchid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      productShow = #{productshow,jdbcType=BIT}
    where productRecommendId = #{productrecommendid,jdbcType=INTEGER}
  </update>
  
<!--   <select id="selectProductrecommend" parameterType="Integer" resultType="productCustom">
  	
  	SELECT p.* FROM productrecommend pre , product p WHERE p.productId = pre.productId LIMIT #{id}
  
  </select> -->
  <select id="selectProductrecommend" parameterType="Integer" resultType="productCustom">
  	
  	SELECT p.* FROM productrecommend pre , product p ,`user` u , branch b
	WHERE u.userId = #{id} AND b.areaId = u.areaId
	AND pre.branchId = b.branchId AND p.productId = pre.productId 
	LIMIT 3
  
  </select>
  
  
  <select id="quertyRecommendProdcut" parameterType="Integer" resultType="productCustom">
  	
  <!-- 	SELECT p.* FROM productrecommend pre , product p WHERE p.productId = pre.productId and  p.branchId=#{branchId} -->
  	SELECT p.*,pt.productTypeName FROM productrecommend pre , product p , producttype pt WHERE p.productId = pre.productId and p.productTypeId=pt.productTypeId AND  p.branchId=1
  
  </select>
  
  <select id="oneProductRec" parameterType="ProductrecommendCustom" resultType="ProductrecommendCustom">
  select * from productrecommend 
  where branchId = #{branchid,jdbcType=INTEGER}
  AND productId = #{productid,jdbcType=INTEGER}
  </select>
  <select id="countProductRec" parameterType="Integer" resultType="java.lang.Integer" >
     select count(p.productRecommendId) from productrecommend p,product a
		where p.productId = a.productId
		and a.branchId = #{branchid,jdbcType=INTEGER}
      </select>
      
      <!--   用户分店信息 -->
  <select id="quertyuserProduct" parameterType="String" resultType="UserCustom">
SELECT * FROM `user` u,branch b WHERE b.areaId=u.areaId AND u.phone=#{phone}
  </select>
   <select id="sumRecommendProduct" parameterType="integer" resultType="integer">
  	select COUNT(*) from productrecommend   WHERE productShow=1 and  branchId=#{branchId} GROUP BY branchId
  </select>
  
  <select id="quertyRecommendingProduct" parameterType="integer" resultType="ProductCustom" >
   select * from productrecommend pr,product p   WHERE  pr.productId=p.productId AND pr.productShow=1 and p.branchId=#{branchId}
  </select>
  <select id="quertyOneProduct" parameterType="integer" resultType="Productrecommend">
   select * from productrecommend pr   WHERE productShow=1 and pr.productId=#{productId}

  </select>
  
  
  
</mapper>