<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ShoppingcarMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Shoppingcar" >
    <id column="shoppingCarId" property="shoppingcarid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <result column="productName" property="productname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    shoppingCarId, userId, productId, productName, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shoppingcar
    where shoppingCarId = #{shoppingcarid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shoppingcar
    where shoppingCarId = #{shoppingcarid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Shoppingcar" >
    insert into shoppingcar (shoppingCarId, userId, productId, 
      productName, price)
    values (#{shoppingcarid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{productname,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Shoppingcar" >
    insert into shoppingcar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shoppingcarid != null" >
        shoppingCarId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="productname != null" >
        productName,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shoppingcarid != null" >
        #{shoppingcarid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Shoppingcar" >
    update shoppingcar
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where shoppingCarId = #{shoppingcarid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Shoppingcar" >
    update shoppingcar
    set userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      productName = #{productname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL}
    where shoppingCarId = #{shoppingcarid,jdbcType=INTEGER}
  </update>
</mapper>