<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ProductcoloursizeMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.bean.Productcoloursize" >
    <id column="sizeId" property="sizeid" jdbcType="INTEGER" />
    <result column="ProductColourId" property="productcolourid" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="sizeStock" property="sizestock" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sizeId, ProductColourId, size, sizeStock
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productcoloursize
    where sizeId = #{sizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productcoloursize
    where sizeId = #{sizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.bean.Productcoloursize" >
    insert into productcoloursize (sizeId, ProductColourId, size, 
      sizeStock)
    values (#{sizeid,jdbcType=INTEGER}, #{productcolourid,jdbcType=INTEGER}, #{size,jdbcType=VARCHAR}, 
      #{sizestock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.bean.Productcoloursize" >
    insert into productcoloursize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sizeid != null" >
        sizeId,
      </if>
      <if test="productcolourid != null" >
        ProductColourId,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="sizestock != null" >
        sizeStock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sizeid != null" >
        #{sizeid,jdbcType=INTEGER},
      </if>
      <if test="productcolourid != null" >
        #{productcolourid,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="sizestock != null" >
        #{sizestock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Productcoloursize" >
    update productcoloursize
    <set >
      <if test="productcolourid != null" >
        ProductColourId = #{productcolourid,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="sizestock != null" >
        sizeStock = #{sizestock,jdbcType=INTEGER},
      </if>
    </set>
    where sizeId = #{sizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Productcoloursize" >
    update productcoloursize
    set ProductColourId = #{productcolourid,jdbcType=INTEGER},
      size = #{size,jdbcType=VARCHAR},
      sizeStock = #{sizestock,jdbcType=INTEGER}
    where sizeId = #{sizeid,jdbcType=INTEGER}
  </update>
</mapper>