<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ProducttypeMapper">
	<resultMap id="BaseResultMap" type="com.xiaohe.bean.Producttype">
		<id column="productTypeId" property="producttypeid" jdbcType="INTEGER" />
		<result column="productTypeName" property="producttypename"
			jdbcType="VARCHAR" />
		<result column="FatherId" property="fatherid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		productTypeId, productTypeName, FatherId
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from producttype
		where productTypeId =
		#{producttypeid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		producttype
		where productTypeId = #{producttypeid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xiaohe.bean.Producttype">
		insert into producttype
		(productTypeId, productTypeName, FatherId
		)
		values
		(#{producttypeid,jdbcType=INTEGER},
		#{producttypename,jdbcType=VARCHAR}, #{fatherid,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiaohe.bean.Producttype">
		insert into producttype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="producttypeid != null">
				productTypeId,
			</if>
			<if test="producttypename != null">
				productTypeName,
			</if>
			<if test="fatherid != null">
				FatherId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="producttypeid != null">
				#{producttypeid,jdbcType=INTEGER},
			</if>
			<if test="producttypename != null">
				#{producttypename,jdbcType=VARCHAR},
			</if>
			<if test="fatherid != null">
				#{fatherid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.bean.Producttype">
		update producttype
		<set>
			<if test="producttypename != null">
				productTypeName = #{producttypename,jdbcType=VARCHAR},
			</if>
			<if test="fatherid != null">
				FatherId = #{fatherid,jdbcType=INTEGER},
			</if>
		</set>
		where productTypeId = #{producttypeid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaohe.bean.Producttype">
		update producttype
		set productTypeName = #{producttypename,jdbcType=VARCHAR},
		FatherId =
		#{fatherid,jdbcType=INTEGER}
		where productTypeId =
		#{producttypeid,jdbcType=INTEGER}
	</update>
	<sql id="productTypeSql">


		<if test="producttypeid != null">
			AND productTypeId = #{producttypeid,jdbcType=INTEGER}
		</if>
		<if test="producttypename != null">
			AND productTypeName = #{producttypename,jdbcType=VARCHAR}
		</if>
		<if test="fatherid != null">
			AND FatherId = #{fatherid,jdbcType=INTEGER}
		</if>
	</sql>

	<select id="selectProductTypeBycondition" parameterType="producttypeCustom"
		resultType="producttypeCustom">

		SELECT * FROM producttype
		<where>
			<include refid="productTypeSql"></include>
		</where>


	</select>

	<select id="selectProductTypeByFatherId" parameterType="producttypeCustom"
		resultType="producttypeCustom">

		SELECT * FROM producttype WHERE FatherId = (SELECT productTypeId FROM
		producttype WHERE productTypeName = #{producttypename})

	</select>
	
	<select id="selectSmallProductType" parameterType="producttypeCustom"
		resultType="producttypeCustom">
		SELECT * FROM producttype WHERE FatherId != 0
		<if test="begin != null">
			<if test="pageNum != null">
				LIMIT #{begin} , #{pageNum}
			</if>
		</if>
	
	</select>
	
	<select id="selectAllFatherType" resultType="producttypeCustom">
	
		SELECT * FROM producttype WHERE FatherId = 0
	
	</select>
	
		<select id="selectProductTypeByFather" parameterType="Integer"
		resultType="producttypeCustom">

		SELECT * FROM producttype WHERE FatherId = #{id}

	</select>
</mapper>